.modal-overlay {
  position: fixed;
  top: 0; left: 0;
  width: 100vw; height: 100vh;
  background: rgba(0,0,0,0.4); /* 딤처리 */
  display: flex;
  justify-content: center;
  align-items: flex-end;
  z-index: 1000;
}

.modal-box {
  width: 100vw;


  max-height: 85vh;
  height: auto;

  background-color: white;
  border-top-left-radius: 16px;
  border-top-right-radius: 16px;
  animation: slideUp 0.3s ease-out;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@keyframes slideUp {
  from { transform: translateY(100%); }
  to { transform: translateY(0); }
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 20px;
  border-bottom: 1px solid #eee;
}

.modal-title {
  font-size: 18px;
  margin: 0;
}

.modal-close {
  background: none;
  border: none;
  font-size: 18px;
  cursor: pointer;
}

.modal-content {
  padding: 20px;
  overflow-y: auto;
  flex-grow: 1;
}

.modal-actions {
  padding: 16px;
  border-top: 1px solid #eee;
}

.modal-submit {
  width: 100%;
  background-color: #F47C1C;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 14px;
  font-size: 18px;
  cursor: pointer;
}
