.new-div {
    background-color: #fff;
    color: black;
    transition: opacity 0.5s ease-in-out;
    position: sticky;
    top: 110px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overscroll-behavior-x: contain;
    width: 100%;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 40px;
    z-index: 2;
    padding: 0px 15px 15px;



  }
  input::placeholder{
    color : #999;
    font-size:13px;

  }