.new-div {
    background-color: #fff;
    color: black;
    transition: opacity 0.5s ease-in-out;
    position: sticky;
    top: 50px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    overscroll-behavior-x: contain;
    width: 90%;
    margin : 0 auto;
    overflow-x: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
    height: 40px;
    z-index: 2;
    padding: 0px 15px 15px;

  }
  input::placeholder{
    color : #C3C3C3;
    font-size:13px;
    font-weight: 400;

  }

  .hide-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
  }
  
  .hide-scrollbar::-webkit-scrollbar {
    display: none; /* Chrome, Safari, Opera */
  }