td{
    font-size:16px;
    border :none;
    border-bottom : 1px solid #F3F3F3;
    font-weight: 400;
}

tr td:first-child {
    text-align:left;
    background-color: #FAFAFA;
    font-weight: 600;
    min-width: 80px;
}
tr {
    border : none;
}


.workregist-table tr td{

    font-size: 14px;
   
  }