.blink {
    animation: blink-animation 2s steps(5, start) infinite;
    color: #131313; /* 깜빡이는 텍스트의 색상 */
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }

.blink2 {
    animation: blink-animation 4s steps(5, start) infinite;
    color: #131313; /* 깜빡이는 텍스트의 색상 */
  }

  @keyframes blink-animation {
    to {
      visibility: hidden;
    }
  }