/* td{
    font-size:16px;
    border :none;
    border-bottom : 1px solid #F3F3F3;
    font-weight: 400;
}

tr td:first-child {
    text-align:left;
    background-color: #FAFAFA;
    font-weight: 600;
    min-width: 80px;
}
tr {
    border : none;
}

tr td{
    width:120px;
} */

.table-container {
    max-height: 600px; /* 테이블의 최대 높이 설정 */
    overflow-y: auto; /* 세로 스크롤 활성화 */
    width:100%;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
  }
  
  thead th {
    position: sticky; /* 고정 위치 설정 */
    top: 0; /* 상단에서 0으로 고정 */
    background-color: #f8f8f8; /* 헤더 배경색 */
    z-index: 1; /* 헤더가 본문 위에 있도록 설정 */
    border-bottom: 1px solid #ddd; /* 테두리 */
    padding: 8px;
    height:30px;
    text-align: left;
  }
  thead{
    z-index: 2;
  }
 
  
  td{
    font-size:14px;
    border :none;
    border-bottom : 1px solid #F3F3F3;
    font-weight: 400;
    }

    tr td:first-child {
        text-align:left;
        background-color: #FAFAFA;
        font-weight: 600;
        width:100px;
    }
    tr {
        border : none;
       
    }

    tr td{
        width:120px;
    } 

.workreport-table tr td:first-child{
  width: 100px;
  min-width: 100px;
  font-family: 'Pretendard-SemiBold';
  font-size: 14px;
  height : 20px;
}
.workreport-table tr td:nth-child(2){ 
  display:flex;
  width: 90%;
}